

@media  screen and (max-width:48rem){/* tablets */
    
    body{
       
        overflow-x: hidden;
    }
    nav ul{
        width: 50%;
        position: absolute;
        right: 0rem ;
        height: 92vh;
        top: 8vh;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;

    }
    
    .burger{
        display: block;
        cursor: pointer;
    }

} 
@media screen and(max-width:68rem){
    nav ul{
        width: 80%;
    }
}

