@media screen and (max-width: 48rem) {
  .html {
    font-size: 10%;
  }
  body {
    overflow-x: hidden;
  }
  nav ul {
    width: 50%;
    position: absolute;
    right: 0rem;
    height: 92vh;
    top: 8vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    z-index: 999;
    background-color: blu;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    backdrop-filter: blur(1rem);
  }

  .burger {
    display: block;
    cursor: pointer;
  }
  #home {
    min-height: 100vh;
    padding-top: 4rem;
  }
  .homeContainer {
    gap: 5rem;
  }
  .textContainer {
    gap: 1rem;
  }
  .innerimage {
    width: 25rem;
    height: 25rem;
  }
  .homeButton1 {
    justify-content: space-around;
  }
  .homeButton2 {
    font-size: 4rem;
  }
  #about {
    padding: 1.5rem;
  }
  .textBoxes {
    width: 30rem;
  }
  .textBoxContainer {
    flex-direction: column;
  }
  .aboutText {
    padding: 2.5rem;
    width: auto;
    height: auto;
    text-align: justify;
  }
  .aboutImage {
    width: 20rem;
    height: auto;
  }
  #skills {
    padding: 1.2rem;
  }
  .skillContainer {
    gap: 2rem;
  }
  .skillContainerContent {
    width: 50rem;
    height: 40rem;
  }
  .skillContainerContentfl{
    flex-direction: column;
    gap: 2rem;
  }
  .projectContainer {
    gap: 2rem;
  }
  #contacts{
    padding: 3rem;
  }
  .contactContainer {
    width: 35rem;
    height: 20rem;
    font-size: 2rem;
  }
  .footerLink{
    flex-direction: column;
  }
}
@media screen and(max-width:68rem) {
  nav ul {
    width: 80%;
  }
}
