*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
html{
    font-size: 62.5%;


}
body{
    min-height: 100vh;
}
header{
    padding-top: 2rem;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
}
nav ul{
    display: flex;
    justify-content: space-around;
    width: 30%;
    list-style: none;
}

nav ul a{
    text-decoration: none;
    color: black;
    letter-spacing: o.3rem;
    font-size: 1.8rem;
}
nav label{

    font-size: 3rem;
}
.burger{
    display: none;
}

.nav-active{
    transform: translateX(0%);
}

