* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
}
header {
  padding-top: 2rem;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
}
nav ul {
  display: flex;
  justify-content: space-around;
  width: 30%;
  list-style: none;
}

nav ul a {
  text-decoration: none;
  color: black;
  letter-spacing: o.3rem;
  font-size: 1.8rem;
}
nav label {
  font-size: 3rem;
}
.burger {
  display: none;
}

.nav-active {
  transform: translateX(0%);
}
#home {
  padding-top: 5rem;
  min-height: 100vh;
}

.homeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15rem;
  flex-wrap: wrap;
}
.innerimage {
  width: 40rem;
  height: 40rem;
  border-radius: 50%;
 
  position: relative;

}
@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
.innerimage::after,.innerimage::before{
    
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle),transparent 70%,rgba(0, 0, 0, 0.729));
    border-radius: 50%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 0.9rem;
    animation: 3s spin linear infinite;
}
@keyframes spin{
    from{
        --angle:0deg;
    }to{
        --angle:360deg;
    }

}
.innerimage::before{
    filter: blur(1.5rem);
    opacity: 0.5;
}
#profilePic {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  
}
.textContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}
.cv {
  text-decoration: none;
  background-color: white;
  border: 0.2rem black solid;
  border-radius: 5rem;
  font-size: 1.4rem;
  padding: 1rem;
  color: black;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
#cInfo {
   
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.777);
  
  border-radius: 5rem;
  font-size: 1.4rem;
  padding: 1rem;
  color: white;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.homeButton1 {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.cv:hover {
  background-color: black;
  color: white;
}
#cInfo:hover {
  background-color: black;
}
.homeButton2 {
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-size: 3rem;
}
.homeButton2 a {
  color: black;
}

#linkedin:hover {
  scale: 1.2;
}
#github:hover {
  scale: 1.2;
}

#about{
  min-height: 100vh;
}
.aboutHeading{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  
}
.aboutHeading label{
  font-size: 2rem;
   color: #0000008f
}
.aboutHeading h1{
  font-size: 4rem;
  letter-spacing: 0.2rem;
}
.aboutContent{
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.aboutImage{
  width: 45rem;
  height: 45rem;
}
.aboutImage img{
  width: 100%;
  height: 100%;
  border-radius: 5rem;
}
.textBoxContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.textBoxes{
  width: 40rem;
  height: 20rem;
  border: 2px #0000008f solid;
  border-radius: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.aboutText{
  width: 80rem;
  height: 10rem
}
.aboutText p{
 text-align: justify;
 font-size: 1.5rem;
}
.textBoxes i{
  font-size: 3rem;

}
.textBoxes h3{
  font-size: 2rem;

}
.textBoxes label{
  font-size: 1.2rem ;
  text-align:center ;

}
#skills{
  min-height: 100vh;
}
.skillsHeading{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.skillsHeading label{
 font-size: 2rem;
   color: #0000008f
}
.skillsHeading h1{
  font-size: 4rem;
  letter-spacing: 0.2rem;
}
.skillContainer{
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
  
}
.skillContainerContent{
  border: 2px #0000008f solid;
  width: 60rem;
  height: 40rem;
  border-radius: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
}
.SkillContHeading{
  text-align: center;
  padding-top: 1rem;
  font-size: 3rem;
  color: #0000008f;
}
.skillContainerContentfl{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
 
}
.skillContainerContentfl h3{
  font-size: 2rem;

}
#projects{
min-height: 100vh;
}
.projectHeading{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projectHeading label{
  font-size: 2rem;
   color: #0000008f
}
.projectHeading h1{
  font-size: 4rem;
  letter-spacing: 0.2rem;
}
.projectCard{
  border: 2px #0000008f solid;
  display: flex;
  border-radius: 4rem;
  flex-direction: column;
  width: 35rem;
  height: 40rem;
  justify-content: space-evenly;
  align-items: center;
}
.projectContainer{
  padding-top: 1.5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.imgContainerProject{
  width: 25rem;
  height: 20rem;
  border-radius: 4rem;
}
.imgContainerProject img{
  width: 100%;
  height: 100%;
   border-radius: 2rem;
}

#contacts{
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  text-align: center;
  align-items: center;
 
}
.contactContainer{
  border: 2px solid #0000008f ;
  border-radius: 4rem;
  width: 70rem;
  height: 10rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  gap: 1.4rem;
}
.contactContainer a{
  color: black;
  text-decoration: none;
}
footer{
  padding: 3rem;
}
.footerLink{
  display: flex;
  justify-content:center;
  align-items: center;
  gap: 3rem;

}
.footerLink a{
  color: black;
  text-decoration: none;
  font-size: 3rem;

}
.rights{
  padding: 2rem;
  font-size: 1.5rem;
  text-align: center;
}
